@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.main {
	@include layout();
}

.mobileSearch {
	@include smOnly();
	width: 100%;
	padding: 10px 0 0;
	overflow-y: auto;
	background-color: $white;
}
