@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.reviewHeader {
	@include flexbox(between, end);
	position: relative;
	padding: 7px 0 5px;
}

.reviewWriteBtn {
	@include flexbox(between, center);
	position: absolute;
	bottom: 14px;
	right: 0;
	height: 32px;
	padding: 0 8px 0 9px;
	background-color: $pink;
	border-radius: 2px;
	color: $white;
	transition: background-color 200ms ease-in-out;

	&:hover {
		background-color: $pink-dark;
	}

	svg {
		width: 16px;
		height: 16px;
		margin: 0 0 0 4px;
	}

	span {
		font-size: 15px;
		font-weight: 500;
	}
}

.noListWrapper {
	@include column-flexbox(center, center);
	padding: 20px 0;
	svg {
		width: 80px;
		color: $text-primary;
		margin: 0 0 13px 0;
	}

	p {
		font-size: 14px;
		line-height: 16px;
		color: $text-primary;
	}
}

.isLoadingWrapper {
	@include flexbox(center, center);

	svg {
		width: 60px;
		position: relative;
		left: 15px;
	}
}

.loadMoreReviewBtn {
	@include flexbox(start, center);
	height: 25px;
	margin: 0 auto;
	color: $text-primary;
	font-size: 15px;

	svg {
		width: 16px;
		height: 16px;
		margin: 0 0 0 2px;
	}
}
