@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.reviewsWrapper {
	@media screen and (min-width: $md-breakpoint) {
		margin-top: -30px;
		padding: 0 0 40px 0;
	}
	@media screen and (min-width: $lg-breakpoint) {
		padding: 0 0 60px 0;
	}
}

.reviewHeader {
	@include flexbox(between, end);
	position: relative;
	padding: 7px 0 5px;
}

.reviewWriteBtn {
	@include flexbox(between, center);
	position: absolute;
	bottom: 14px;
	right: 0;
	height: 32px;
	padding: 0 8px 0 9px;
	background-color: $pink;
	border-radius: 2px;
	color: $white;
	transition: background-color 200ms ease-in-out;

	&:hover {
		background-color: $pink-dark;
	}

	svg {
		width: 16px;
		height: 16px;
		margin: 0 0 0 4px;
	}

	span {
		font-size: 15px;
		font-weight: 500;
	}
}

.noListWrapper {
	@include column-flexbox(center, center);
	padding: 20px 0;

	&.hasBorderBottom {
		border-bottom: 1px solid #e0e0e0;
	}

	svg {
		width: 70px;
		color: $text-primary;
		margin: 0 0 13px 0;
	}

	p {
		font-size: 14px;
		line-height: 16px;
		color: $text-primary;
	}
}

.isLoadingWrapper {
	@include flexbox(center, center);
	height: 100px;
	color: $border;

	svg {
		width: 40px;
		height: 10px;
	}
}

.loadMoreReviewBtn {
	@include flexbox(start, center);
	height: 25px;
	margin: 0 auto;
	color: $text-primary;
	font-size: 15px;

	svg {
		width: 16px;
		height: 16px;
		margin: 0 0 0 2px;
	}
}
