@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.wrapper {
	@include modalContentLayout();
}

.header {
	@include modalContentHeader();
	h1 {
		@include truncate();
		font-size: 16px;
		max-width: 260px;
	}

	@media screen and (min-width: $md-breakpoint) {
		h1 {
			max-width: 400px;
		}
	}
}

.closeBtn {
	@include modalContentCloseBtn();
}

.saveBtn {
	position: fixed;
	top: 12px;
	right: 16px;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.7px;
	line-height: 22px;
	color: $text-tertiary;
	opacity: 1;
	transition: opacity 300ms ease-in, color 300ms ease-in, font-weight 300ms ease-in;

	&:disabled {
		pointer-events: none;
		opacity: 0.3;
	}

	&.saveActive {
		color: $pink;
		font-weight: 700;
	}

	@media screen and (min-width: $md-breakpoint) {
		position: absolute;
		top: unset;
		right: 0px;
		bottom: -60px;

		height: 34px;
		padding: 0 16px;
		background-color: $pink;
		color: $white;
		border-radius: 2px;

		font-size: 15px;
		letter-spacing: -0.3px;
		line-height: 18px;
		transition: background-color 200ms ease-in-out;

		&.saveActive {
			color: $white;
		}

		&:hover {
			background-color: $pink-dark;
		}
	}
}

.formWrapper {
	width: 100%;
	height: calc(100vh - 44px);
	padding: 16px;
	position: relative;

	input {
		width: 100%;
		height: 44px;
		border-radius: 4px;
		background-color: $input-grey-bg;
		font-size: 14px;
		padding: 0 15px 0 10px;
		color: $text-primary;
		margin: 0 0 10px 0;
	}

	textarea {
		width: 100%;
		height: calc(100vh - 44px - 16px - 16px - 44px - 30px - 30px);
		padding: 10px 15px 26px 10px;
		caret-color: $accent;
		background-color: $input-grey-bg;
		border: unset;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	@media screen and (min-width: $md-breakpoint) {
		height: calc(460px - 16px - 48px - 20px - 44px - 10px);
		padding: 0;
		textarea {
			height: 285px;
		}
	}
}

.textareaWrapper {
	position: relative;
}

.counter {
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: -0.3px;
	color: $text-tertiary;
}

.ratingWrapper {
	@include flexbox(start, center);
	margin: 3px 0 0 0;

	> p {
		position: relative;
		top: 2px;
		margin: 0 2px 0 0;
		font-size: 14px;
		color: $text-secondary;
	}
}


.backBtn {
	display: none;

	@media screen and (min-width: $md-breakpoint) {
		@include flexbox(start, center);
		position: absolute;
		right: 70px;
		bottom: -60px;
		height: 34px;
		padding: 0;
		font-size: 15px;
		letter-spacing: -0.3px;
		line-height: 18px;
		color: $pink;
		transition: color 200ms ease-in-out;

		&:hover {
			color: $pink-dark;
		}

		svg {
			width: 18px;
			height: 18px;
		}
	}
}
