@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.headerWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $white;
	border-bottom: 1px solid $white;
	transition: border-color 300ms ease-in-out;
	z-index: $header-level;
	&.hasBorder {
		border-bottom: 1px solid $border-light;
	}

	display: none;

	&.isHome {
		@include flexbox(start, center);
	}

	@media screen and (min-width: $md-breakpoint) {
		@include flexbox(start, center);
		border-bottom: 1px solid $border-light;
	}
}

.header {
	@include flexbox(between, center);
	width: 100%;
	max-width: 1320px;
	height: 100%;

	@media screen and (min-width: $md-breakpoint) {
		margin: 0 3.5%;
	}

	@media screen and (min-width: $lg-breakpoint) {
		margin: 0 auto;
	}

	> div {
		@include flexbox(start, center);
	}
}

.nav {
	ul {
		@include flexbox(start, center);
	}

	li {
		@include flexbox(start, center);

		&:not(:last-of-type)::after {
			content: "";
			display: block;
			width: 1px;
			height: 13px;
			background-color: $border;
		}

		.link {
			padding: 0 15px;
			font-size: 27px;
			font-weight: 700;
			letter-spacing: -0.3px;
			color: $text-tertiary;
			transition: color 300ms ease-in-out;
		}

		&:hover,
		&.isActive {
			.link {
				color: $text-primary;
			}
		}

		@media screen and (min-width: $md-breakpoint) {
			&:not(:last-of-type)::after {
				display: none;
			}

			.link {
				padding: 0 9px;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}

// tablet부터 visible
.logo {
	@include smHidden;
	color: $text-primary;
	font-size: 32px;
	margin: 0 33px 0 0;
	position: relative;
	top: -1px;
}

.menuWrapper {
	@include smHidden;
}

.menu {
	@include flexbox(end, center);
}

.searchWrapper {
	position: relative;
}

.search {
	@include flexbox(start, center);
	position: relative;
	width: 34px;
	height: 34px;
	background-color: $white;
	border-radius: 4px;
	transition: width 300ms ease-in, background-color 300ms ease-in;
	cursor: pointer;

	&.visible {
		width: 220px;
		background-color: $input-grey-bg;

		@media screen and (min-width: 1100px) {
			width: 300px;
		}

		@media screen and (min-width: $lg-breakpoint) {
			width: 330px;
			transition: width 400ms ease-in, background-color 40ms ease-in;
		}
	}

	input {
		@include flexbox(start, center);
		width: 100%;
		height: 36px;
		padding: 1px 6px 0 28px;
		font-size: 12px;
		font-weight: 400;
		color: $text-primary;
		caret-color: $accent;

		::placeholder {
			color: $text-tertiary;
		}
	}

	svg {
		@include pos-center-y;
		width: 18px;
		height: 18px;
		left: 6px;
		color: $text-secondary;
	}
}

.searchDropdown {
	position: absolute;
	top: 40px;
	left: 0;
	background-color: $white;
	border-radius: 2px;
	width: 220px;
	padding: 0 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

	@media screen and (min-width: 1100px) {
		width: 300px;
	}

	@media screen and (min-width: $lg-breakpoint) {
		width: 330px;
		transition: width 400ms ease-in, background-color 40ms ease-in;
	}
}

.loginBtn {
	font-size: 14px;
	letter-spacing: -0.2px;
	color: $text-secondary;
	transition: color 300ms ease-in;

	&:hover {
		color: $text-primary;
	}
}
