@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.header {
	@include flexbox(start, center);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background-color: $white;
	border-bottom: 1px solid $white;
	transition: border-color 300ms ease-in-out;

	nav ul {
		@include flexbox(start, center);
	}

	&.hasBorder {
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
}

.navItem {
	@include flexbox(start, center);

	&:not(:last-of-type)::after {
		content: "";
		display: block;
		width: 1px;
		height: 13px;
		background-color: $border;
	}

	a,
	button {
		padding: 0 15px;
		font-size: 27px;
		font-weight: bold;
		letter-spacing: -0.3px;
		color: #a5a5aa;
	}

	&.isActive {
		a,
		button {
			color: $text-primary;
		}
	}
}

// tablet부터 visible
.logo {
	@include smHidden;
}

.menu {
	@include smHidden;
}
