@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.flexbox {
	@include flexbox(start, center);
}
.star {
	flex-shrink: 0;
	svg {
		color: $yellow;
		width: 18px;
		height: 18px;
	}
}

.noData {
	svg {
		color: $border-light;
	}
}
