@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

@keyframes slideIn {
	0% {
		transform: translate(-50%, -84px);
		opacity: 0;
	}
	20% {
		transform: translate(-50%, 0);
		opacity: 1;
	}

	80% {
		transform: translate(-50%, 0);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -84px);
		opacity: 0;
	}
}

.toastWrapper {
	@include flexbox(center, center);
	position: fixed;
	top: 50px;
	left: 50%;
	height: 34px;
	padding: 0 14px;
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	background-color: #181818;
	border-radius: 5px;
	z-index: 9999999999;
	transform: translate(-50%, -84px);

	&.isVisible {
		animation: slideIn 2000ms ease-in;
	}
}
