@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.main {
	@include layout();
	overflow-x: hidden;
	padding: 10px 0 0 0;

	@media screen and (min-width: $md-breakpoint) {
		overflow-x: unset;
	}
}

.section {
	padding: 10px 0 0 0;
	margin: 0 0 50px 0;

	@media screen and (min-width: $md-breakpoint) {
		padding: 15px 0 0 0;
	}

	@media screen and (min-width: $lg-breakpoint) {
		padding: 20px 0 0 0;
	}
}

.sectionHeading {
	@include truncate();
	margin: 0 0 9px;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: -0.4px;
	line-height: 30px;
	color: $text-primary;
}
