// colors
$accent: #0b2447;

// 타이틀 검정
// 텍스트 검정
// 텍스트 회색
// 텍스트 연한 회색
$text-primary: #292a32;
$text-secondary: #74747b;
$text-tertiary: #7e7e7e;

$nav-default: #babac3;
$nav-hover: #a5a5aa;

$border: #d2d2d2;
$border-img: #eae9e8;
$background: #f7f8fa;
$white: #ffffff;

$book-bg: #f8f8f8;
$book-border: #eae9cd;

// break point

$md-breakpoint: 720px;
$lg-breakpoint: 1366px;

$sm-margin: 0 20px;
$md-margin: 0 3.5%;
$lg-margin: 0 auto;

$content-max-width: 1330px;

// book ratio
$book-height: 145.37037%;

// z-index
$overlay-level: 99999;
