// colors
// $accent: #0b2447;
$accent: #191970;
$accent-shades: #191970;

// 타이틀 검정
// 텍스트 검정
// 텍스트 회색
// 텍스트 연한 회색
$text-primary: #292a32;
$text-secondary: #74747b;
$text-tertiary: #7e7e7e;

$nav-default: #babac3;
$nav-hover: #a5a5aa;

$btn-grey-default: rgba(0, 0, 0, 0.07);
$btn-grey-hover: rgba(0, 0, 0, 0.1);

$border: #d2d2d2;
$border-light: rgba(0, 0, 0, 0.08);
$border-img: #eae9e8;
$background: #f7f8fa;
$background-dark: #282b38;
$white: #ffffff;
$pink: #eb217c;
$yellow: #ffab00;

$book-bg: #f8f8f8;
$book-border: #eae9cd;

// break point

$md-breakpoint: 720px;
$lg-breakpoint: 1366px;

$sm-margin: 60px 15px 60px;
$md-margin: 60px 3.5% 0;
$lg-margin: 60px auto 0;

$content-max-width: 1320px;

// book ratio
$book-height: 145.37037%;

// z-index
$swiper-nav-level: 9;
$header-level: 99;
$footer-level: 999;
$overlay-level: 99999;
