@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.main {
	@include layout();
	color: $text-primary;
}

.btnWrapper {
	@include flexbox(between, center);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	background-color: $white;
	border-bottom: 1px solid $border-light;
	z-index: $footer-level;

	@media screen and (min-width: $md-breakpoint) {
		display: none;
	}
}

// 사용자 정보
.userInfoSection {
	position: absolute;
	top: -60px;
	left: 0;
	width: 100%;
	height: 660px;
}

.userInfoBg {
	width: 100%;
	height: 260px;
	background-image: url("../../assets/bookshelf.jpeg");
	background-repeat: no-repeat;
	background-position: 0 -126px;

	@media screen and (min-width: $md-breakpoint) {
		background-size: cover;
	}
}

.userInfo {
	position: absolute;
	top: 235px;
	width: 100%;
	padding: 0 15px;
	max-width: $content-max-width;

	@media screen and (min-width: $md-breakpoint) {
		padding: 0 3.5%;
	}

	@media screen and (min-width: $lg-breakpoint) {
		padding: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.avatarContainer {
	@include flexbox(start, end);
	margin: 0 0 8px 0;
}

.avatarImg {
	@include flexbox(center, center);
	width: 64px;
	height: 64px;
	margin: 0 5px 0 0;
	border-radius: 50%;
	background-color: $avatar-bg;

	svg {
		width: 30px;
		height: 30px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.changeBtn {
	height: 22px;
	padding: 2px 7px 0;
	font-size: 13px;
	letter-spacing: -0.02px;
	color: $pink;
	background-color: $white;
	border-radius: 2px;
	border: 1px solid $pink;
	position: relative;
	top: -1px;
}

.userName {
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid $border-light;
	font-size: 22px;
	font-weight: 900;
	line-height: 30px;
	letter-spacing: -0.3px;
}

.statList {
	@include flexbox(center, center);
	width: 100%;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid $border-light;
}

.statItem {
	flex: 1;
	text-align: center;
	h3 {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0 0 1px 0;
	}

	strong {
		color: $pink;
		font-size: 16px;
		font-weight: 700;
	}
	p {
		margin: 8px 0 0 0;
		font-size: 14px;
		color: $text-secondary;

		small {
			font-weight: 700;
			color: $text-tertiary;
			position: relative;
			top: -1px;
		}
	}
}

// 리뷰
.reviewSection {
	margin: 405px 0 0 0;
	padding: 20px 0;

	h1 {
		font-size: 20px;
		margin: 0 0 15px 0;
	}
}

.noItem {
	@include column-flexbox(center, center);
	margin: 35px 0 0 0;
	color: $text-primary;
	p {
		margin: 15px 0 0 0;
		font-size: 14px;
	}

	@media screen and (min-width: $md-breakpoint) {
		margin: 55px 0 0 0;
	}
}
