@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.main {
	@include layout();
}

.btnWrapper {
	@include flexbox(between, center);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 15px;
	background-color: $white;
	border-bottom: 1px solid $border-light;
	z-index: $footer-level;

	@media screen and (min-width: $md-breakpoint) {
		display: none;
	}
}

// 사용자 정보
.userInfoSection {
	position: absolute;
	top: -60px;
	left: 0;
	width: 100%;
	height: 660px;
}

.userInfoBg {
	width: 100%;
	height: 260px;
	background-image: url("../../assets/bookshelf.jpeg");
	background-repeat: no-repeat;
	background-position: 0 -126px;
}

.userInfo {
	position: absolute;
	top: 235px;
	padding: 0 15px;
}

.avatarContainer {
	@include flexbox(start, end);
	margin: 0 0 10px 0;
}

.avatarImg {
	@include flexbox(center, center);
	width: 64px;
	height: 64px;
	margin: 0 5px 0 0;
	border-radius: 50%;
	background-color: $avatar-bg; // delete

	svg {
		width: 30px;
		height: 30px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.changeBtn {
	height: 22px;
	padding: 2px 7px 0;
	font-size: 13px;
	letter-spacing: -0.02px;
	color: $pink;
	background-color: $white;
	border-radius: 2px;
	border: 1px solid $pink;
	transition: background-color 300ms ease-in;
	&:hover {
		background-color: $pink-dark;
	}
}

.userName {
	color: $text-primary;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: -0.9px;
	word-break: break-all;
	margin: 0 0 5px 0;
}

.staticRow {
	@include flexbox(start, center);

	> div:first-of-type {
		margin: 0 10px 0 0;
	}
}

.staticItem {
	dt {
		font-size: 14px;
		font-weight: 500;
		color: $text-primary;
	}

	dd {
		font-size: 12px;
		font-weight: 400;
		color: $text-tertiary;
	}
}

// 리뷰
.reviewSection {
	// 지우기
	height: 100vh;
}
