@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.section {
	margin: 15px 0 40px;
	width: 100%;

	@media screen and (min-width: $md-breakpoint) {
		margin: 2px 0 10px;
	}
}

.header {
	position: relative;
	padding: 11px 0 10px;

	h2 {
		color: $text-primary;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: -0.7px;
		line-height: 1.28;
	}

	@media screen and (min-width: $md-breakpoint) {
		padding: 11px 0 3px;

		h2 {
			color: $accent;
			font-size: 14px;
		}
	}
}

.delBtn {
	@include pos-center-y();
	right: 0px;
	font-size: 14px;
	letter-spacing: -0.3px;
	line-height: 18px;
	color: $accent;
	cursor: pointer;

	@media screen and (min-width: $md-breakpoint) {
		font-size: 11px;
		line-height: unset;
	}
}

.list {
	li {
		@include flexbox(start, center);

		width: 100%;
		min-height: 44px;
		border-bottom: 1px solid $border-light;
		background-color: $white;
		transition: background-color 400ms ease-in-out;

		cursor: pointer;

		@media screen and (min-width: $md-breakpoint) {
			min-height: 26px;
			padding: 0 0 0 6px;
			border-bottom: 1px solid transparent;
			border-radius: 4px;
			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}

		@media screen and (min-width: $lg-breakpoint) {
			min-height: 28px;
		}
	}

	p {
		@include truncate();
		color: $text-primary;
		font-size: 14px;
		letter-spacing: -0.6px;
		line-height: 21px;

		@media screen and (min-width: $md-breakpoint) {
			font-size: 12px;
			line-height: unset;
		}

		@media screen and (min-width: $lg-breakpoint) {
			font-size: 13px;
			line-height: unset;
		}
	}

	a {
		@include truncate();
	}
}
