@import "@/app/variables.module.scss";
@import "@/app/mixins.module.scss";

.searchWrapper {
	position: relative;
}

.search {
	@include flexbox(start, center);
	position: relative;
	width: 34px;
	height: 34px;
	background-color: $white;
	border-radius: 4px;
	transition: width 300ms ease-in, background-color 300ms ease-in;
	cursor: pointer;

	&.visible {
		width: 220px;
		background-color: $input-grey-bg;

		svg:hover {
			color: $text-secondary;
		}

		@media screen and (min-width: 1100px) {
			width: 300px;
		}

		@media screen and (min-width: $lg-breakpoint) {
			width: 330px;
			transition: width 400ms ease-in, background-color 40ms ease-in;
		}
	}

	input {
		@include flexbox(start, center);
		width: 100%;
		height: 36px;
		padding: 1px 6px 0 28px;
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		color: $text-primary;
		caret-color: $accent;

		::placeholder {
			color: $text-tertiary;
		}
	}

	svg {
		@include pos-center-y;
		width: 18px;
		height: 18px;
		left: 6px;
		color: $text-secondary;
		transition: color 300ms ease-in;

		&:hover {
			color: $text-primary;
		}
	}
}

.searchDropdown {
	position: absolute;
	top: 40px;
	left: 0;
	background-color: $white;
	border-radius: 2px;
	width: 220px;
	padding: 0 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

	@media screen and (min-width: 1100px) {
		width: 300px;
	}

	@media screen and (min-width: $lg-breakpoint) {
		width: 330px;
		transition: width 400ms ease-in, background-color 40ms ease-in;
	}
}
